*{
    font-family: 'nunito',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all, 2s, linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.5rem;
}
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background: #333;
}
body{
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}
section {
    margin-top: 30rem;
     padding:1rem;
}
header {
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background: #1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    transition: all 2s linear;
}
header .user img{
    height: 17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid yellow;
}
header .user h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color:white;
}
header .user h3{
    font-size: 2rem;
    margin: 5px;
}
header .nav{
    width:100%;
}
header .nav ul{
    list-style: none;
    padding:1rem 3rem;
}
header .nav ul li a {
    display:block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size:2.5rem;
    border-radius:5rem;
}
header .nav ul li a:hover{
    background: yellow;
    color:#111;
}
#menu{
    font-size:3rem;
    color:white;
    position:absolute;
    top:15px;
    right:15px;
    display:none;
}
.home{
    display:flex;
    align-items: center;
    flex-flow: column;
    padding:15rem 0;
}
.home h3{
    font-size:2.5rem;
    color:#f1f1f1;
}
.home h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.3rem;
    font-weight: bolder;
    text-shadow: .1rem .1rem .4rem yellowgreen;
    color:#f1f1f1;
}
.home p{
    font-size: 2rem;
    color:#eee;
    padding: 1rem 0;
}
.home .btn{
    padding:.7rem 3rem;
    background: #333;
    color:#fff;
    cursor: pointer;
    margin-top:1rem;
    font-size:2rem;
    border-radius: 5rem;
}
.home .btn:hover{
    background-color: yellow;
    color:#222;
}
.home .btn i{
    padding-left:1rem;
}
.heading{
    text-align: center;
    font-size:2rem;
    border-bottom: .2px solid yellow;
    color:#f1f1f1;
    margin-bottom: 2em;
}
.heading span{
 color:yellow;
}
.about {
    text-align: left;
    font-size:2em;
    color:antiquewhite;
    padding:1rem 2rem;
    line-height: 1.7;
}
.skill{
    font-size: 3.5rem;
    color:#f1f1f1;
    justify-content: center;
    display: flex;
    padding:3rem;
}
.skillsImage{
    display:flex;
    width:250px;
    height:250px;
    flex-flow: row nowrap;
}
.portfolio .box-container{
    padding:2rem 0;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio .box-container .box{
    margin:3rem;
    padding:1rem;
    box-shadow: 1rem 2rem 2rem black;
    background-color:rgba(0,0,0,0.2);
    border-radius: 1rem;
    text-align: center;
    width:32rem;
    color:white;
}
.portfolio .box-container .box:hover{
    transition: all 15s linear;
    background-color:greenyellow;
}
.portfolio .box-container .box i{
    color:#eee;
    padding:1rem 0;
    font-size: 3rem;
    color:rgba(13,41,85,0.5);
}
.portfolio .box-container .box p{
    color:#eee;
    padding:5rem 2rem;
    font-size: 2.5rem;
}
.contact .row{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact .content .row{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom:0;
}
.info{
    display:flex;
    align-items:center;
    font-size: 2rem;
    font-weight:normal;
    padding:2rem 0;
    flex-direction: column;
    color:beige;
}
.info i{
    color:yellow;
}
.content form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom:4rem;
}
.content form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#f1f1f1;
    text-transform: none;
    font-size:1.7rem;
    width:100%;
    text-transform: uppercase;
}
.content form .message{
    background:#3333;
    color:#f1f1f1;
    height:15rem;
    resize: none;
    text-transform:uppercase;
}
.content form .btn{
    padding:.7rem 3rem;
    background: #333;
    color:#fff;
    cursor: pointer;
    margin-top:1rem;
    font-size:1.5rem;
    border-radius: 5rem;
}
.content form .btn i{
    padding:5px;    
}
.content form .btn:hover{
    background-color: yellow;
    color:#333;
}

















/* media queries */
@media(max-width:1200px){
    html{
        font-size:55%;
    }
}

@media(max-width:991px){
    header{
        left:120%;
    }
    #menu{
        display:block;
    }
}

@media(max-width:600px){
    header{
       width:100vw;
    }
    .contact .row{
        display:flex;
        justify-content:right;
        align-items: right;
        flex-wrap: wrap;
    }   
}